.btn {
	display: inline-block;
	border-radius: 5px;
	padding: 10px 10px;
	min-width: 160px;
	cursor: pointer;
	font-size: 16px;
	background-color:$accent;
	text-align: center;
	
	color: $white;
	border:1px solid #d02718;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	text-shadow:0px 1px 0px #810e05;
	background: linear-gradient(to bottom, lighten($accent, 12) 1%, $accent 100%);
	&:hover {
		color: $white;
		background: linear-gradient(to bottom, $accent 1%, lighten($accent, 12) 100%);
		transition: all 0.5s ease-out;
	}
	&:active {
		// position: relative;
		// top: 1px;
	}
	&--white {
		font-family: $default-font;
		color: #1c546c;
		text-transform: uppercase;
		border: none;
		background-color: $white;
		background: linear-gradient(to bottom, #ffffff 25%,#dadada 100%);
		box-shadow:inset 0px 1px 0px 0px $white;
		box-shadow: 0 3px 0 0 rgba(0, 0, 0, .3), 0 4px 10px 0 rgba(0, 0, 0, .2);
		text-shadow:0px 1px 0px #e7e7e7;
		&:hover {
			color: $accent;
			background: linear-gradient(to bottom, #ffffff 25%,#dadada 100%);
			transition: all 0.2s ease-out;
		}
	}
}