form.form-requisition
	h3.form-requisition__title Заполните заявку и получите бесплатный расчет полов
	.form-requisition__input-line
		.form-requisition__input-wrap
			label
				span Введите ваше имя
				input(type="text" name="text" placeholder="Имя" required).form-requisition__input
		.form-requisition__input-wrap
			label
				span Введите номер телефона
				input(type="text" name="text" placeholder="Номер телефона" required).form-requisition__input
		button(type="submit").form-requisition__submit.btn Получить расчет
	small.form-requisition__info * - Заявка вас ни к чему не обязывает, наш менеджер свяжется с вами в течении часа. Ваши контакты не передаем третьим лицам.