.header .fa-envelope,
.header .fa-phone {
	color: darken($accent2, 15);
	font-size: 22px;
	margin-right: 5px;
}

.header .fa-envelope {
	position: relative;
	top: 3px;
}

#modal-success .fa-check-circle {
	font-size: 10rem;
	padding-top: 15px;
	color: $success;
}