@import "font-face";

@mixin size($a,$b: $a) {
  width: $a;
  height: $b;
}

// Pixels to REM
$browser-context: 16;
@function rem($pixels, $context:$browser-context) {
	@return #{$pixels/$context}rem;
}