footer.footer
	.container
		.footer__wrap
			.footer__copyright © 2019 Теплопол, Монтаж инженерных систем. Все права защищены.
			.footer__social
				a(href="#!").footer__social-link.fab.fa-vk
				a(href="#!").footer__social-link.fab.fa-instagram
				a(href="#!").footer__social-link.fab.fa-facebook-f