.header {
	background-color: $white;
	&__top {
	padding: 20px 0;
	}
	&__wrap {
		align-items: center;
	}
	&__logo {
		// max-width: 250px;
	}
	&__info {
		font-family: $second-font;
		font-size: 14px;
	}
	&__contacts {
		display: flex;
		flex-direction: column;
	}
	&__phone {
		font-size: 22px;
		margin-bottom: 5px;
	}
	&__mail {
		color: $accent2;
	}
	&__nav {
		background-color: $accent2;
	}
}