.header {
	padding: 20px 0;
	&__wrap {
		align-items: center;
		justify-content: space-between;
		flex-wrap: nowrap;
	}
	&__logo {
		// max-width: 250px;
	}
	&__info {
		// max-width: 275px;
		// padding-left: 30px;
		font-size: 14px;
	}
	&__contacts {
		display: flex;
		flex-direction: column;
	}
	&__phone {
		font-size: 22px;
		margin-bottom: 5px;
	}
	&__mail {
		color: $accent2;
	}
}