// Fonts
$default-font: 'opensans', sans-serif;
$second-font: 'roboto', sans-serif;
$third-font: 'montserrat', sans-serif;

// Colors
$white: 		#ffffff;
$black: 		#000000;
$accent: 		#E41F24;
$accent2: 	#099FEB;

$bg-color-1: 	#F1F5F6;

$text:					#333;
$text-second:		#808080;

// Grid breakpoints
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (
	xs: 0, 
	sm: 576px, 
	md: 768px, 
	lg: 992px, 
	xl: 1200px
);
$container-max-widths: (
	sm: 540px, 
	md: 720px, 
	lg: 960px, 
	xl: 1140px
);

$gutter: $grid-gutter-width;
