// Fonts
$default-font: "opensans", sans-serif;
$second-font: 'roboto', sans-serif;

// Colors
$white: 		#ffffff;
$black: 		#000000;
$accent: 		#E41F24;
$accent2: 	#099FEB;

$text:		#333;

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"

// Links
$link-color:                $white;
$link-decoration:           none;
// $link-hover-color:          $accent;
$link-hover-decoration:     none;

// paragraph
$paragraph-margin-bottom:   0;

// Grid breakpoints
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (
	xs: 0, 
	sm: 576px, 
	md: 768px, 
	lg: 992px, 
	xl: 1200px
);
$container-max-widths: (
	sm: 540px, 
	md: 720px, 
	lg: 960px, 
	xl: 1140px
);

$gutter: $grid-gutter-width;
