section.section.s-about#about
	.container-fluid
		.row.about
			.col-md-6
				.about__img
			.col-md-6
				.about__title
					h2 О компании
				.about__text
					p Компания <strong>&#171;Теплопол&#187;</strong> (ИП Кротов Леонид Леонидович) работает на рынке нашего региона с 2009 года.
					p Мы специализируемся на предоставлении высокопрофессиональных услуг по монтажу внутренних инженерных сетей: отопления, водоснабжения, канализации. Но наше главное направление — это проектирование, поставка оборудования, монтаж и обслуживание систем водяного напольного отопления или, проще говоря, водяного тёплого пола.
					p Являясь официальным дилером, одного из ведущих производителей оборудования для водяного напольного отопления в Европе, шведской компании <a href="https://www.thermotech.ru/" target="_blank" style="color: #808080;"><b>Thermotech (Термотех)</b></a>, мы в состоянии профессионально решать любые задачи по монтажу напольных систем отопления для любых типов зданий: будь то коттедж, многоквартирный дом или административное здание.
					p Наша главная задача - воплощение в жизнь идей и пожеланий наших клиентов с максимальным качеством и с использованием самых современных технологий.Ваши идеи, наши решения! Мы специализируюмся на оказании высококачественных услуг. Квалифицированные сотрудники внимательно изучат ваши потребности и предложат наиболее выгодные условия обслуживания.
					p Все специалисты — профессионалы, которые любят свою работу. Вы можете смело довериться нам. Наша главная задача — воплощение в жизнь идей и пожеланий наших клиентов с максимальным исполнительским качеством с использованием новейших технологий.
					p Мы работаем, вы отдыхаете!