section.section.s-about#about
	.container-fluid
		.row.about
			.col-md-6.about__wrap
				.about__inner
					.section__title.about__title
						h2 О компании
					.about__text
						h3 Компания <strong>&#171;Теплопол&#187;</strong> (ИП Кротов Леонид Леонидович) работает на рынке нашего региона с 2009 года.
						p Мы специализируемся на предоставлении высокопрофессиональных услуг по монтажу внутренних инженерных сетей: отопления, водоснабжения, канализации. 
						p Но наше главное направление — это проектирование, поставка оборудования, монтаж и обслуживание систем водяного напольного отопления или, проще говоря, водяного тёплого пола.
					.about__btn.btn Читать подробнее
			.col-md-6
				img(src="./img/content/about-2.jpg", alt="о компании").about__img