section.section.s-advantages
	.container
		h2.section__title Почему нам доверяют
			//- h2 Наши преимущества
		.row
			.col-md-4
				.advantages
					.advantages__icon <i class="fas fa-medal"></i>
					.advantages__right
						h4.advantages__title Опыт более 10 лет
						p.advantages__text Компания «Теплопол» работает на рынке нашего региона с&nbsp;2009&nbsp;года
			.col-md-4
				.advantages
					.advantages__icon <i class="fas fa-clipboard-check"></i>
					.advantages__right
						h4.advantages__title Работаем по договору
						p.advantages__text В нашей компании нет никаких предоплат! Платите только после окончания монтажных работ
			.col-md-4
				.advantages
					.advantages__icon <i class="fas fa-dolly"></i>
					.advantages__right
						h4.advantages__title Проверенный поставщик
						p.advantages__text Компания Thermotech - один из ведущих поставщиков напольного отопления в&nbsp;Скандинавии