section.section.s-advantages
	.container
		.section__title
			h2 Наши преимущества
		.row
			.col-md-3
				.advantages
					.advantages__icon <i class="fas fa-thumbs-up"></i>
					h4.advantages__title Высокое качество
					.advantages__text Мы заботимся о наших клиентах и гарантируем лучше качество
			.col-md-3
				.advantages
					.advantages__icon <i class="fas fa-history"></i>
					h4.advantages__title Минимальные сроки
					.advantages__text Постоянно работаем над увеличением скорости выполнения заказов
			.col-md-3
				.advantages
					.advantages__icon <i class="fas fa-dollar-sign"></i>
					h4.advantages__title Низкая цена
					.advantages__text Мы всегда готовы предложить своим клиентам одни из лучших цен
			.col-md-3
				.advantages
					.advantages__icon <i class="fas fa-piggy-bank"></i>
					h4.advantages__title Скидки постоянным клиентам
					.advantages__text Приготовим для Вас индивидуальное предложение!