section.section.s-calculate#calculate
	.container
		.row.calculate
			.col-md-6
				.calculate__text-wrap
					h2.calculate__title Рассчитать стоимость водяного теплого пола
					.calculate__text
						p Узнайте цену теплого пола для вашей <br> квартиры, дома или дачи
					.calculate__btn.btn.btn--white Узнать подробнее
			.col-md-6
				form.calculate__form
					.form__input-wrap.calculate__input-wrap
						label
							span Площадь помещения*
							input(type="number" name="room_area" placeholder="Введите число, м2" required).form__input
					.form__input-wrap.calculate__input-wrap
						label
							span Введите ваше имя*
							input(type="text" name="name" placeholder="Имя" required).form__input
					.form__input-wrap.calculate__input-wrap
						label
							span Количество помещений*
							input(type="number" name="number_area" placeholder="Введите число" required).form__input
					.form__input-wrap.calculate__input-wrap
						label
							span Введите ваш телефон*
							input(type="tel" name="phone" placeholder="Телефон").form__input
					.form__input-wrap.calculate__input-wrap
						span Чертеж проекта
						.hint
							i.far.fa-question-circle.hint-triger
							.hint-popup Прикрепите файл с чертежами, если они у вас есть. Если у вас не один файл, упакуйте их в архив и загрузите в форму.
						input(type="file", name="plan")#customFileUpload.calculate__input-file
						label(for="customFileUpload").form__input.calculate__label-file Выберите файл
					.form__input-wrap.calculate__input-wrap
						label
							span Введите ваш email*
							input(type="email" name="email" placeholder="Email").form__input
					.form__input-wrap.calculate__details
						label
							span Подробнее
							textarea#moreDetails(name="details",  rows="3").form__input
					.calculate__input-wrap
						p * - поля обязательные для заполнения
					button(type="submit").calculate__input-wrap.btn Узнать цену пола