section.s-contacts#contacts
	.container
		.row
			.contacts
				h4.contacts__title Контакты
				ul.contacts__list
					li.contacts__item
						h5 Телефон:
						a(href="tel:+79190255625") +7 (919) 025-56-25
					li.contacts__item
						h5 Адрес:
						p г. Муром, ул. Московская д.14
					li.contacts__item
						h5 Email:
						a(href="mailto:teplopolinfo@mail.ru") teplopolinfo@mail.ru

	<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A3e320335013fd0d266686d9f78e94b52d990fdcb8b12710571539f8fdd72b581&amp;width=100%25&amp;height=500&amp;lang=ru_RU&amp;scroll=false"></script>