section.s-contacts#contacts
	.container
		.row
			.contacts
				h4.contacts__title Контакты
				ul.contacts__list
					li.contacts__item
						<i class="fas fa-phone"></i>
						h5 Телефон:
						a(href="tel:+79190255625") +7 (919) 025-56-25
					li.contacts__item
						<i class="fas fa-map-marker-alt"></i>
						h5 Адрес:
						p г. Муром, ул. Московская д.14
					li.contacts__item
						<i class="fas fa-at"></i>
						h5 Email:
						a(href="mailto:teplopolinfo@mail.ru") teplopolinfo@mail.ru

	#YaMaps