section.section.section--bg.s-projects#projects
	.container
		h2.section__title Наши работы
		hr.hr-line
		.section__description
			p За 10 лет нашей работы нами смонтированы и успешно функционируют системы напольного и радиаторного отопления, а также системы холодного и горячего водоснабжения на более 40 объектах. Это и коттеджи, и квартиры, и бани и даже животноводческая ферма! <br>Вот некоторые примеры нашей работы:
		.row
			.owl-carousel.owl-theme.projects#slider-projects
				.projects__item
					.projects__line
						.projects__img
							a(data-fancybox="slide-1" href="img/content/project/1.jpg")
								img(src="img/content/project/1.jpg", alt="object")
						.projects__img
							a(data-fancybox="slide-1" href="img/content/project/2.jpg")
								img(src="img/content/project/2.jpg", alt="object")
						.projects__img
							a(data-fancybox="slide-1" href="img/content/project/3.jpg")
								img(src="img/content/project/3.jpg", alt="object")
					.projects__description
						p 2-х этажный коттедж, S= 282 кв.м, с банным комплексом
				.projects__item
					.projects__line
						.projects__img
							a(data-fancybox="slide-2" href="img/content/project/4.jpg")
								img(src="img/content/project/4.jpg", alt="object")
						.projects__img
							a(data-fancybox="slide-2" href="img/content/project/5.jpg")
								img(src="img/content/project/5.jpg", alt="object")
					.projects__description
						p Газовый котёл и бойлер косвенного нагрева с рециркуляцией Protherm
				.projects__item
					.projects__line
						.projects__img
							a(data-fancybox="slide-3" href="img/content/project/6.jpg")
								img(src="img/content/project/6.jpg", alt="object")
						.projects__img
							a(data-fancybox="slide-3" href="img/content/project/7.jpg")
								img(src="img/content/project/7.jpg", alt="object")
					.projects__description
						p Водяной тёплый пол на первом и втором этажах и в банном комплексе
				.projects__item
					.projects__line
						.projects__img
							a(data-fancybox="slide-4" href="img/content/project/8.jpg")
								img(src="img/content/project/8.jpg", alt="object")
					.projects__description
						p Холодное и горячее водоснабжение с коллекторной разводкой