section.section.s-questions
	.container
		.questions
			p.questions__text Остались вопросы? Задайте их сейчас, позвонив по телефону&nbsp;<a href="tel:+79190255625" class="questions__link"><b>+7 (919) 025-56-25</b></a> или через форму обратной связи
			a(data-fancybox, data-src="#modal-requisition", href="javascript:;").questions__btn.btn Напишите нам