section.section.s-services#services
	.container
		h2.section__title Мы предлагаем услуги
		.row.services
			.col-md-3
				.services__card
					a(href="page-service.html").services__link
						img.services__img(src="./img/content/warm_floor.jpg", alt="Водяной теплый пол")
						.services__bottom
							h3.services__title Монтаж водяного&nbsp;теплого&nbsp;пола
			.col-md-3
				.services__card
					a(href="page-service.html").services__link
						img.services__img(src="./img/content/heating2.jpg", alt="Радиаторное отопление")
						.services__bottom
							h3.services__title Монтаж <br> радиаторов
			.col-md-3
				.services__card
					a(href="page-service.html").services__link
						img.services__img(src="./img/content/water_system2.jpg", alt="Водоснабжение")
						.services__bottom
							h3.services__title Монтаж <br> водоснабжения
			.col-md-3
				.services__card
					a(href="page-service.html").services__link
						img.services__img(src="./img/content/plumbing.jpg", alt="Канализация")
						.services__bottom
							h3.services__title Установка водоотведения