section.s-service
	.container
		.row
			.col-md-3.categories__wrap
				//- .categories__title Наши услуги
				img(src="img/content/dom.png", alt="house")
				.categories__inner
					nav.categories__menu
						a.categories__link(href="#")
							img(src="img/content/water.png", alt="Водоснабжение").categories__img
						a.categories__link(href="#")
							img(src="img/content/otoplenie.png", alt="Отопление").categories__img
						a.categories__link(href="#")
							img(src="img/content/kanal.png", alt="Канализация").categories__img
						a.categories__link(href="#")
							img(src="img/content/pol.png", alt="Теплый пол").categories__img
				h3.categories__title Наши услуги

			.col-md-9
				.slider.owl-carousel.owl-theme#slider-main
					.slider__item.slider__item--bg1
						h2.slider__title Водоснабжение
						small.slider__description Далеко-далеко за словесными горами, в стране гласных и согласных живут рыбные тексты. Дорогу рукописи собрал свое курсивных то запятой грустный от всех путь!
					.slider__item.slider__item--bg2
						h2.slider__title Отопление
						small.slider__description Далеко-далеко за словесными горами, в стране гласных и согласных живут рыбные тексты. Дорогу рукописи собрал свое курсивных то запятой грустный от всех путь!
					.slider__item.slider__item--bg3
						h2.slider__title Канализация
						small.slider__description Далеко-далеко за словесными горами, в стране гласных и согласных живут рыбные тексты. Дорогу рукописи собрал свое курсивных то запятой грустный от всех путь!
					.slider__item.slider__item--bg4
						h2.slider__title Теплый пол
						small.slider__description Далеко-далеко за словесными горами, в стране гласных и согласных живут рыбные тексты. Дорогу рукописи собрал свое курсивных то запятой грустный от всех путь!