section.s-service
	.container-fluid
		.row
			.slider.owl-carousel.owl-theme#slider-main
				.slider__item.slider__item--bg1
					h2.slider__title Установка системы водоснабжения
					p.slider__description Далеко-далеко за словесными горами, в стране гласных и согласных живут рыбные тексты. Дорогу рукописи собрал свое курсивных то запятой грустный от всех путь!
				.slider__item.slider__item--bg2
					h2.slider__title Установка отоплених систем
					p.slider__description Далеко-далеко за словесными горами, в стране гласных и согласных живут рыбные тексты. Дорогу рукописи собрал свое курсивных то запятой грустный от всех путь!
				.slider__item.slider__item--bg3
					h2.slider__title Проводка канализации
					p.slider__description Далеко-далеко за словесными горами, в стране гласных и согласных живут рыбные тексты. Дорогу рукописи собрал свое курсивных то запятой грустный от всех путь!
				.slider__item.slider__item--bg4
					h2.slider__title Монтаж теплого пола
					p.slider__description Далеко-далеко за словесными горами, в стране гласных и согласных живут рыбные тексты. Дорогу рукописи собрал свое курсивных то запятой грустный от всех путь!

	.container
		.row
			.col-md-12
				include ../modules/forms/form-requisition
				