section.section.s-services#services
	.container
		.section__title
			h2 Мы предлагаем услуги
		.row.services
			.col-md-3
				.services__card
					img.services__img(src="./img/content/warm_floor.jpg", alt="Водяной теплый пол")
					.services__bottom
						a.services__link(href="#") Водяной теплый пол
			.col-md-3
				.services__card
					img.services__img(src="./img/content/heating2.jpg", alt="Радиаторное отопление")
					.services__bottom
						a.services__link(href="#") Радиаторное отопление
			.col-md-3
				.services__card
					img.services__img(src="./img/content/water_system2.jpg", alt="Водоснабжение")
					.services__bottom
						a.services__link(href="#") Водоснабжение
			.col-md-3
				.services__card
					img.services__img(src="./img/content/plumbing.jpg", alt="Канализация")
					.services__bottom
						a.services__link(href="#") Водоотведение