section.slider-main
	.owl-carousel.owl-theme#slider-main
		.slider-main__item
			img(src="./img/content/slides/slide-pol.jpg", alt="Водяной тёплый пол").slider-main__img
			.container.slider-main__wrapper
				h2.slider-main__title Водяной тёплый пол
				p.slider-main__description Далеко-далеко за словесными горами, в стране гласных и согласных живут рыбные тексты. Дорогу рукописи собрал свое курсивных то запятой грустный от всех путь!
		.slider-main__item
			img(src="./img/content/slides/slide-otopl.jpg", alt="Радиаторное отопление").slider-main__img
			.container.slider-main__wrapper
				h2.slider-main__title Радиаторное отопление
				p.slider-main__description Далеко-далеко за словесными горами, в стране гласных и согласных живут рыбные тексты. Дорогу рукописи собрал свое курсивных то запятой грустный от всех путь!
		.slider-main__item
			img(src="./img/content/slides/water_system.jpg", alt="Водоснабжение").slider-main__img
			.container.slider-main__wrapper
				h2.slider-main__title Водоснабжение
				p.slider-main__description Далеко-далеко за словесными горами, в стране гласных и согласных живут рыбные тексты. Дорогу рукописи собрал свое курсивных то запятой грустный от всех путь!
		.slider-main__item
			img(src="./img/content/slides/water-dispos.jpg", alt="Водоотведение").slider-main__img
			.container.slider-main__wrapper
				h2.slider-main__title Водоотведение
				p.slider-main__description Далеко-далеко за словесными горами, в стране гласных и согласных живут рыбные тексты. Дорогу рукописи собрал свое курсивных то запятой грустный от всех путь!
