section.slider-main
	.owl-carousel.owl-theme#slider-main
		.slider-main__item
			img(src="./img/content/slides/slide-pol.jpg", alt="Водяной тёплый пол").slider-main__img
			.container.slider-main__wrapper
				h2.slider-main__title Водяной тёплый пол
				p.slider-main__description Водяной теплый пол от лучшего производителя теплых полов <b>Thermotech</b> . Водяной теплый пол довольно прост в монтаже, ведь при его установке специальные гибкие трубы просто укладываются на теплоизоляцию под бетонную стяжку, поверх которой кладется ламинат, плитка или любое другое покрытие.
		.slider-main__item
			img(src="./img/content/slides/slide-otopl.jpg", alt="Радиаторное отопление").slider-main__img
			.container.slider-main__wrapper
				h2.slider-main__title Радиаторное отопление
				p.slider-main__description Радиаторное отопление — неотъемлемая часть эффективного и экономичного водяного отопления загородного дома. Радиаторное отопление удобно и экологично. Радиаторы (или более привычно — батареи) не сжигают кислород, работают бесшумно и могут быть установлены во всех жилых помещениях.
		.slider-main__item
			img(src="./img/content/slides/water_system.jpg", alt="Водоснабжение").slider-main__img
			.container.slider-main__wrapper
				h2.slider-main__title Водоснабжение
				p.slider-main__description Система водоснабжения представляет собой комплекс сооружений для обеспечения определенной (данной) группы потребителей (данного объекта) водой в требуемых количествах и требуемого качества.
		.slider-main__item
			img(src="./img/content/slides/water-dispos.jpg", alt="Водоотведение").slider-main__img
			.container.slider-main__wrapper
				h2.slider-main__title Водоотведение
				p.slider-main__description Грамотно спланированное и обустроенное водоотведение в частном доме обеспечивает комфортную жизнь хозяевам, гарантирует длительный срок эксплуатации здания. Ведь современный коттедж — это не просто сооружение, а комплекс взаимосвязанных систем.
