section.slider-main
	.container-fluid
		.row
			.owl-carousel.owl-theme#slider-main
				.slider-main__item.slider-main__item--bg1
					h2.slider-main__title Системы водоснабжения
					p.slider-main__description Далеко-далеко за словесными горами, в стране гласных и согласных живут рыбные тексты. Дорогу рукописи собрал свое курсивных то запятой грустный от всех путь!
				.slider-main__item.slider-main__item--bg2
					h2.slider-main__title Радиаторные системы
					p.slider-main__description Далеко-далеко за словесными горами, в стране гласных и согласных живут рыбные тексты. Дорогу рукописи собрал свое курсивных то запятой грустный от всех путь!
				.slider-main__item.slider-main__item--bg3
					h2.slider-main__title Водоотведение
					p.slider-main__description Далеко-далеко за словесными горами, в стране гласных и согласных живут рыбные тексты. Дорогу рукописи собрал свое курсивных то запятой грустный от всех путь!
				.slider-main__item.slider-main__item--bg4
					h2.slider-main__title Водяной тёплый пол
					p.slider-main__description Далеко-далеко за словесными горами, в стране гласных и согласных живут рыбные тексты. Дорогу рукописи собрал свое курсивных то запятой грустный от всех путь!
