section.slider-main
	.owl-carousel.owl-theme#slider-main
		.slider-main__item.slider-main__item--bg1
			.container.slider-main__wrapper
				h2.slider-main__title Водяной тёплый пол
				p.slider-main__description Далеко-далеко за словесными горами, в стране гласных и согласных живут рыбные тексты. Дорогу рукописи собрал свое курсивных то запятой грустный от всех путь!
		.slider-main__item.slider-main__item--bg2
			.container.slider-main__wrapper
				h2.slider-main__title Радиаторное отопление
				p.slider-main__description Далеко-далеко за словесными горами, в стране гласных и согласных живут рыбные тексты. Дорогу рукописи собрал свое курсивных то запятой грустный от всех путь!
		.slider-main__item.slider-main__item--bg3
			.container.slider-main__wrapper
				h2.slider-main__title Водоснабжение
				p.slider-main__description Далеко-далеко за словесными горами, в стране гласных и согласных живут рыбные тексты. Дорогу рукописи собрал свое курсивных то запятой грустный от всех путь!
		.slider-main__item.slider-main__item--bg4
			.container.slider-main__wrapper
				h2.slider-main__title Водоотведение
				p.slider-main__description Далеко-далеко за словесными горами, в стране гласных и согласных живут рыбные тексты. Дорогу рукописи собрал свое курсивных то запятой грустный от всех путь!
