section.section.s-what-do
	.container
		h2.section__title Мы предлагаем услуги
		.row.what-do
			.col-md-3
				.what-do__card
					img.what-do__img(src="./img/content/warm_floor2.jpg", alt="Водяной теплый пол")
					.what-do__bottom
						a.what-do__link(href="#") Водяной теплый пол
			.col-md-3
				.what-do__card
					img.what-do__img(src="./img/content/heating2.jpg", alt="Радиаторное отопление")
					.what-do__bottom
						a.what-do__link(href="#") Радиаторное отопление
			.col-md-3
				.what-do__card
					img.what-do__img(src="./img/content/water_system2.jpg", alt="Водоснабжение")
					.what-do__bottom
						a.what-do__link(href="#") Водоснабжение
			.col-md-3
				.what-do__card
					img.what-do__img(src="./img/content/plumbing.jpg", alt="Канализация")
					.what-do__bottom
						a.what-do__link(href="#") Канализация