section.section.s-work-scheme
	.container
		h2.section__title Схема работы с нами
			//- h2 Схема работы с нами
		.row.work-scheme
			.col-md-6
				.work-scheme__block
					.work-scheme__icon <i class="fas fa-envelope-open-text"></i>
					h4.work-scheme__title 1. Заявка
					p.work-scheme__text Вы оставляете заявку или звоните по телефону  <a href="tel:+79190255625"  class="phone"><b>+7 (919) 025-56-25</b></a> в любое удобное время.
			.col-md-6
				.work-scheme__block
					.work-scheme__icon <i class="fas fa-clipboard-list"></i>
					h4.work-scheme__title 2. Проект и договор
					p.work-scheme__text Инженер составит точную смету на необходимые матейралы, оборудование и все работы.
			.col-md-6
				.work-scheme__block
					.work-scheme__icon <i class="fas fa-truck"></i>
					h4.work-scheme__title 3. Поставка оборудования
					p.work-scheme__text Мы поставляем качественное и проверенное оборудование, одной из ведущих производителей оборудования для водяного напольного отопления в Европе, шведской компании <a href="https://www.thermotech.ru/" class="link" target="_blank"><b>Thermotech (Термотех)</b></a>.
			.col-md-6
				.work-scheme__block
					.work-scheme__icon <i class="fas fa-tools"></i>
					h4.work-scheme__title 4. Монтажные работы
					p.work-scheme__text Производим монтаж и запуск в течении 3 - 5 дней. Монтаж выполняется профильными специалистами. Строгий контроль качества работ на каждом этапе.