.navigation_bg {
	background-color: $accent2;
	margin-bottom: 5px;
}

.main-nav {
	width: 100%;
	&__wrap {
		display: flex;
		// justify-content: space-between;
		justify-content: flex-start;
	}
	&__item {
	}
	&__link {
		color: $white;
		display: block;
		padding: 15px 20px;
	}
}