.menu-home {
	width: 100%;
	&__wrap {
		display: flex;
		// justify-content: space-between;
		justify-content: space-around;
	}
	&__item {
	}
	&__link {
		color: $white;
		display: block;
		padding: 20px 20px;
	}
}