extends template/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	include ./sections/s-slider-main
	include ./sections/s-form-requisition
	include ./sections/s-what-we-do
	include ./sections/s-advantages
	include ./sections/s-work-scheme
	include ./sections/s-about
	include ./sections/s-contacts