extends template/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	include ./sections/s-slider-main
	include ./sections/s-form-requisition
	include ./sections/s-about