extends template/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	include ./sections/s-slider-main
	//- include ./sections/s-form-requisition
	include ./sections/s-services
	include ./sections/s-advantages
	include ./sections/s-work-scheme
	include ./sections/s-calculate
	include ./sections/s-projects
	include ./sections/s-about
	include ./sections/s-questions
	include ./sections/s-contacts

block script
	script(src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js")
	script(src="js/owl.carousel.min.js")
	script(src="js/bundle.js")