.s-form-requisition {
	padding: 0 0 50px;
}
.form-requisition {
	padding: 40px 30px 20px;
	border-radius: 5px;
	box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.15);
	// background-image: url("../img/content/white-scratone.png");
	background-color: #fff;
	position: relative;
	z-index: 3;
	bottom: 100px;
	margin-bottom: -100px;
	text-align: center;
	&__title {
		font-size: 26px;
		margin-bottom: 20px;
	}
	&__input-line {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	&__input-wrap {
		width: 100%;
	}
	&__input {
		max-width: 350px;
	}
	&__submit {
		width: 100%;
		max-width: 250px;
		font-size: 18px;
		height: 55px;
	}
	&__info {
		display: block;
		margin-top: 20px;
		font-size: 14px;
	}
}