.about {
	&__wrap {
		position: relative;
		z-index: 10;
	}
	&__inner {
		padding: 50px;
		position: absolute;
		top: 50%;
		left: 35%;
		width: 80%;
		transform: translateY(-50%);
		background-color: $white;
		box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.15);
	}
	&__img {
		position: relative;
		height: auto;
	}
	&__title {
		padding-bottom: 10px;
		text-align: left;
		font-size: 24px;
	}
	&__text {
		color: $text-second;
		margin-bottom: 20px;
		& > * {
			&:not(:last-child) {padding-bottom: 20px;}
		}
	}
}