.s-calculate {
	position: relative;
	background: url("../img/content/bg-calc-5.jpg") 0% 200% no-repeat;
	background-color: #fff;
	background-size: 50%;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(#fff, 0.7);
	}
}

.calculate {
	&__text-wrap {
		font-family: $second-font;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		height: 100%;
		& > * {
			&:not(:last-child) {margin-bottom:25px;}
		}
	}
	&__title {
		text-transform: uppercase;
		font-size: 30px;
		color: $accent;
		text-shadow: 0 3px 0 rgba(0, 0, 0, .1);
	}
	&__text {
		position: relative;
		padding: 30px;
		color: $text-second;
		font-size: 22px;
		font-style: italic;
		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 2px;
			height: 100%;
			background-color: $accent;
		}
	}
	&__btn {
		margin-left: 30px;
	}
}

.calculate {
	&__form {
		padding: 25px 30px;
		display: flex;
		flex-wrap: wrap;
		border-radius: 8px;
		box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.15);
		background-image: url("../img/content/white-scratone.png");
		background-color: $bg-color-1;
		// background-color: #e2f2fb;
		& > * {
			margin: 0 5px;
			&:not(:last-child) {margin-bottom: 20px;}
		}
	}
	&__input-wrap {
		flex-basis: 47%;
		min-width: 195px;
		& p {
			font-size: 0.7em;
		}
	}
	&__input {
		max-width: 235px;
	}
	&__dummy {
		flex-basis: 47%;
	}
	&__submit {
		flex-basis: 47%;
		// width: 250px;
	}
}