.projects {
	&__item {
		
	}
	&__line {
		display: flex;
		justify-content: center;
		margin-bottom: 20px;
		& > * {
			&:not(:last-child) {margin-right:20px;}
		}
	}
	&__img {
		flex-basis: 33%;
		img {
			height: 250px;
			object-fit: cover;
		}
	}
	&__description {
		// color: $accent;
		color: darken($accent2, 8);
		font-family: $second-font;
		font-weight: 500;
		font-size: 28px;
		text-align: center;
	}
}