.services {
	&__card {
		border-radius: 5px;
		overflow: hidden;
		// text-align: center;
		&:hover img {
			filter: opacity(75%);
			transition: all 0.5s;
		}
		&:hover .services__title{
			color: $accent2;
			transition: all 0.2s;
		}
	}
	&__img {
		height: 170px;
		object-fit: cover;
	}
	&__bottom {
		position: relative;
		margin-top: 20px;
		padding: 0 10px;
	}
	&__title {
		display: inline-block;
		padding: 10px 0;
		margin: 0;
		// color: darken($accent2, 12);
		font-family: $second-font;
		text-transform: uppercase;
		font-size: 16px;
		font-weight: 500;
		&::before {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			height: 2px;
			width: 100%;
			background-color: $accent2;
			transition: all 0.2s ease-out;
		}
	}
}