.work-scheme {
	background: url(../img/content/line.png) center 55px no-repeat;
	background-size: 100% 93%;
	&__block {
		text-align: center;
		padding: 15px 50px;
	}
	&__icon {
		position: relative;
		display: inline-block;
		margin-bottom: 20px;
		background-color: $accent2;
		border-radius: 50%;
		@include size(90px);
		&> i {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			font-size: 40px;
			color: $white;
		}
	}
	&__title {
		font-family: $second-font;
		font-size: 20px;
		font-weight: 500;
	}
	&__text {
		margin: 0 auto;
		padding: 0 20px;
		width: 100%;
		color: $text-second;
		font-weight: 300;
	}
	&__arrow {

	}
}