section[class^="section"]:nth-child(even) {
	background-color: $bg-color-1;
}

.section {
	padding: 60px 0 70px;
	// &--bg {
	// 	background-color: $bg-color-1;
	// }

	&__title {
		padding-bottom: 40px;
		text-align: center;
		font-size: 24px;
	}

	&__description {
		padding-bottom: 20px;
		max-width: 70%;
		margin: 0 auto;
		text-align: center;
		font-weight: 300;
	}
}



@import "form-requisition";
@import "s-what-we-do";
@import "s-advantages";
@import "s-work-scheme";
@import "s-projects";
@import "s-calculate";
@import "s-about";
@import "s-contacts";