.section {
	padding: 60px 0 70px;
	&--bg {
		background-color: $bg-color-1;
	}

	&__title {
		padding-bottom: 40px;
		text-align: center;
		font-size: 36px;
	}
}



@import "form-requisition";
@import "s-what-we-do";
@import "s-advantages";
@import "s-work-scheme";
@import "s-contacts";