section[class^="section"]:nth-child(odd) {
	background-color: $bg-color-1;
}

.section {
	padding: 80px 0 90px;
	&__title {
		position: relative;
		padding-bottom: 40px;
		text-align: center;
		font-family: $second-font;
		text-transform: uppercase;
		font-size: 28px;
		z-index: 99;
	}
	&__description {
		padding-bottom: 20px;
		max-width: 70%;
		margin: 0 auto;
		text-align: center;
		font-weight: 300;
	}
}

.hidden {
	display: none !important;
	visibility: hidden !important;
}


@import "form-requisition";
@import "s-services";
@import "s-advantages";
@import "s-work-scheme";
@import "s-projects";
@import "s-calculate";
@import "s-about";
@import "s-contacts";