header.header
	.header__top
		.container
			.row.header__wrap
				.col-md-3
					.header__logo
						a(href="index.html", title="teplopol-33.ru").header__link
							img(src="img/content/logo.png", alt="logo", srcset="").header__img
				.col-md-3
					.header__info
						p Монтаж внутренних <br> инженерных сетей
				.col-md-3.offset-md-1
					.header__contacts
						a(href="tel:+79190255625").header__phone <i class="fas fa-phone"></i> +7 (919) 025-56-25
						a(href="mailto:teplopolinfo@mail.ru").header__mail <i class="fas fa-envelope"></i> teplopolinfo@mail.ru
				.col-md-2
					.header__requisition
						a(data-fancybox, data-src="#modal-success", href="javascript:;").header__btn.btn Оставить заявку

	include ../nav/main-nav