.faq
	h3.faq__title Ответы на часто задаваемые вопросы о работе водяного теплого пола
	.faq__accordion.accordion
		.accordion__tab
			input(type="checkbox", id="tab1", name="tab-group")
			label(for="tab1" class="accordion__tab-title") Можно ли с помощью системы водяной теплый пол обогреть весь дом, полностью отказавшись от радиаторов?
			.accordion__tab-content
				p Да, водяной теплый пол Thermotech - это не только система комфорта, но и полноценная система отопления. При профессиональном проектировании и монтаже - это будет более экономичное и комфортное решение.
		.accordion__tab
			input(type="checkbox", id="tab2", name="tab-group")
			label(for="tab2" class="accordion__tab-title") Почему применяется пластиковая труба PE-RT, а не металлопластиковая труба, или например медная?
			.accordion__tab-content
				p Пластиковая труба PE-RT имеет срок службы, сравнимый со сроком службы здания. Она выдерживает необходимое давление, при этом ее цена ниже чем у металлопластиковой или медной трубы.
		.accordion__tab
			input(type="checkbox", id="tab3", name="tab-group")
			label(for="tab3" class="accordion__tab-title") Любое ли чистовое покрытие можно применять с водяным теплым полом?
			.accordion__tab-content
				p Да, практически любое: плитка, ламинат, паркет, наливные полы. Исключениями являются только некоторые породы древесины для паркета. Всегда можно уточнить вопрос возможность применения того или иного чистового покрытия у его производителя.