.container
	.row
		.col-md-9
			article.page
				header.entry-header
					img.entry-icon(src="./img/content/icon/water.png", alt="водоснабжение")
					h1.entry-title Водоснабжение
				.entry-content
					h3 О водяном тёплом поле 
					p Водяной теплый пол — это полноценная система Концепция водяного тёплого пола сводится к монтажу между черновым полом и напольным покрытием сети отопительных трубопроводов. Чтобы передаваемое трубами тепло распределялось по поверхности равномерно и не уходило вниз, под трубы укладывают слой теплоизоляции. Как правило, она выполнена из пенополистирола. Сами трубы покрывают стяжкой или укладывают в специальные алюминиевые пластины. В зависимости от этого конструкцию тёплого пола именуют бетонной (по названию стяжки) или настильной. 
					h5 Преимущества водяного теплого пола: 
					ul
						li <b>Комфорт и уют.</b> Отсутствуют холодные и перегретые зоны, что не только комфортно, но и препятствует образованию воздушных потоков, переносящих пыль 
						li <b>Современный дизайн.</b> Водяной теплый пол сочетается практически с любым чистовым покрытием, всё оборудование скрыто от глаз, на виду только термостаты 
						li <b>Надежность.</b> Срок службы систем водяного теплого пола сопоставим со сроком службы здания, при этом не требуется дорогостоящего ежегодного обслуживания 
						li <b>Экономичность.</b> Использование более низкой температуры теплоносителя ведет к снижению тепловых потерь.
					h3 Типы систем водяного тёплого пола
					p В зависимости от типов балочных перекрытий, требований, предъявляемых к полу, а также конструктивных возможностей помещений применяются различные типы водяных теплых полов: бетонная и безбетонные (настильные) системы.
					p <b>Бетонный тип</b> — самая распространенная и экономичная, с точки зрения затрат, на сегодняшний день система водяного теплого пола, в которой трубы контуров заливаются бетоном и дополнительных распределителей тепла не требуется. «Пирог» водяного теплого пола представляет собой следующую конструкцию: основание пола, теплоизоляционный слой (полистирол), арматурная сетка, труба, бетонная стяжка, чистовое покрытие.
					h5 Теплоизоляционный слой
					p Основное назначение теплоизоляционного слоя — препятствовать тепловым потерям вниз. Тепло должно идти вверх, в обогреваемое помещение. Наиболее распространенным изоляционным материалом в современном строительстве является экструдированный пенополистирол. <blockquote>Мы категорически не рекомендуем применять фольгированный изолон в качестве теплоизолирующего слоя, т.к. сплющиваясь под тяжестью бетонной стяжки, он совершенно теряет как свои теплоизоляционные , так и отражающие свойства!</blockquote>
					h5 Арматурная сетка
					p Арматурная сетка, уложенная на полистирол, служит основой для чёткой и правильной раскладки контуров водяного теплого пола. Трубы крепятся к сетке с помощью пластиковых хомутов. Также трубы можно крепить при помощи крепежных рельсов, гарпунов и клипсов.
					h5 Демпферная лента
					p Демпферная лента укладывается по периметру помещений до заливки бетоном. Служит компенсатором теплового расширения бетонной стяжки при нагреве.
					h3 Трубы
					p Для монтажа систем напольного отопления используются трубы из 5-ти слойного полиэтилена марки PE-RT с кислородным барьером EVOH. Выбор диаметра трубы зависит от конструктивных особенностей помещения, его площади и отопительной нагрузки на систему. Трубы контуров укладываются в соответствии с проектом теплого пола. Перед заливкой контуров бетоном требуется проведение гидростатических испытаний.
					h5 Бетонная стяжка
					p Заливка бетоном осуществляется после монтажа контуров теплого пола и проведения гидравлических испытаний.
					h5 Чистовое покрытие
					p Водяной теплый пол сочетается практически с любым чистовым покрытием, исключениями являются только паркет из бука и канадского клена.
					p Настильные (безбетонные системы) подразделяются на несколько видов: полистирольные и деревянные. Монтаж данных систем отличается отсутствием «мокрого» процесса (т.е. отсутствием бетонной стяжки), что делает его чистым и быстрым.
					img(src="img/content/project/2.jpg", alt="")
			
			include ./faq
		.col-md-3
			aside.widget-area
				h3.widget-title Последние проекты
				.project-last
					img(src="img/content/project/4.jpg", alt="проект")
					h4.project-last__title Проект
				.project-last
					img(src="img/content/project/4.jpg", alt="проект")
					h4.project-last__title Проект
				.project-last
					img(src="img/content/project/4.jpg", alt="проект")
					h4.project-last__title Проект
				.project-last
					img(src="img/content/project/4.jpg", alt="проект")
					h4.project-last__title Проект