.header__nav
	.container
		.row
			nav.main-nav
				ul.main-nav__wrap
					li.main-nav__item
						a.main-nav__link(href="#") Главная
					li.main-nav__item
						a.main-nav__link(href="#services") Наши услуги
					li.main-nav__item
						a.main-nav__link(href="#calculate") Расчет стоимости
					li.main-nav__item
						a.main-nav__link(href="#projects") Наши работы
					li.main-nav__item
						a.main-nav__link(href="#") Прайс-лист
					li.main-nav__item
						a.main-nav__link(href="#about") О компании
					li.main-nav__item
						a.main-nav__link(href="#contacts") Контакты