.header__nav
	.container
		.row
			nav.menu-home
				ul.menu-home__wrap
					li.menu-home__item
						a.menu-home__link.menu-home__link--current(href="index.html") Главная
					li.menu-home__item
						a.menu-home__link(href="#services") Наши услуги
					li.menu-home__item
						a.menu-home__link(href="#calculate") Расчет стоимости
					li.menu-home__item
						a.menu-home__link(href="#projects") Наши работы
					li.menu-home__item
						a.menu-home__link(href="#") Прайс-лист
					li.menu-home__item
						a.menu-home__link(href="#about") О компании
					li.menu-home__item
						a.menu-home__link(href="#contacts") Контакты