include ../utils/mixins
block variables

doctype html

html(lang="ru-RU")

	head
		include ../modules/_head/head

	body(class=pageClass)
		.wrapper
			include ../modules/header/header
			main.content
				block content
			include ../modules/footer/footer
			include ../modules/forms/hidden

		script(src="https://code.jquery.com/jquery-3.4.1.min.js")
		script(src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js")
		script(src="js/owl.carousel.min.js")
		script(src="js/bundle.js")
		block script