include ../utils/mixins
block variables

doctype html

html(lang="ru-RU")

	head
		include ../modules/_head/head

	body(class=pageClass)
		.wrapper
			include ../modules/header/header
			#primary.content-area
				main#main.site-main
					block content
			include ../modules/footer/footer
			include ../modules/forms/hidden

		script(src="https://code.jquery.com/jquery-3.4.1.min.js")
		block script